.ocr-helper {
  padding: 6px 10px;
  margin-bottom: 8px;
  border-left: 4px solid var(--tertiary);
  background: var(--primary-low);
  color: var(--primary);
  font-size: 0.9em;
  line-height: 1.2;
  border-radius: 6px;
}
